<ion-header class="header" >
  <ion-buttons slot="start" >
    <ion-button (click)="back()" class="monbutton">
      <ion-icon name="arrow-back-sharp" style="color: orange;"></ion-icon>    </ion-button>
  </ion-buttons>
  <ion-title class="centered-title">Paiement</ion-title>
</ion-header>
<ion-content>
  <div class="content1">
    <ion-card class="maCarte">
      <img src="../../../assets/icon/orange-money.jpg"/>
      <ion-card-content  class="content-row">
        <img class="maPuce" src="../../../assets/icon/credit-card.png"/>
      </ion-card-content>
    </ion-card>
    <ion-toolbar class="monForm">
      <ion-item class="monInput">
        <ion-input label="Numero de Téléphone" type="tel" labelPlacement="floating" placeholder="Veuillez entrez votre numero" [(ngModel)]="Tel"></ion-input>
      </ion-item>&nbsp;
      <ion-buttons>
        <ion-button class="envoyez" *ngIf="!isNumber(ticketId)" (click)="reservation()" [routerLink]="['/paiement-effectuer']"> Envoyez </ion-button>
        <ion-button class="envoyez" *ngIf="isNumber(ticketId)" (click)="cancelTickets(ticketId)" [routerLink]="['/search']"> Annuler </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

</ion-content>
