<!-- <div class="logo"> <img src="assets/icon/logo.png" alt="Logo" ></div>
<ion-content>
  <div class="auth-container">

    <form [formGroup]="utilisateurForm" (ngSubmit)="onSubmit()">
      <ion-item class="form-item">
        <i class="fas fa-user icon-orange" slot="start"></i>
        <ion-input id="nom" formControlName="nom" type="text" placeholder="Nom"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <i class="fas fa-user icon-orange" slot="start"></i>
        <ion-input id="prenom" formControlName="prenom" type="text" placeholder="Prénom"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <i class="fas fa-envelope icon-orange" slot="start"></i>
        <ion-input id="email" formControlName="email" type="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <i class="fas fa-phone icon-orange" slot="start"></i>
        <ion-input id="telephone" formControlName="telephone" type="text" placeholder="Téléphone"></ion-input>
      </ion-item>

      <ion-item class="form-item">

        
        <ion-input type="password" label="Password" value="NeverGonnaGiveYouUp" id="motDePasse" formControlName="motDePasse">
          <ion-input-password-toggle slot="end" color="warning"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label >Image</ion-label>
        <input type="file" (change)="onFileChange($event)" />
      </ion-item>
     
      <ion-button  type="submit">
        S INSCRIRE<i class="fas fa-arrow-right"></i>
      </ion-button>

    </form>
  </div>
</ion-content> -->


<div class="body">

  <div class="content">

    <div class="image">
        <img src="assets/icon/logo.png" alt="Logo">
    </div>
    <form [formGroup]="utilisateurForm" (ngSubmit)="onSubmit()">

      <span class="inputZone">
          <i class="fas fa-user icon-orange" slot="start"></i>
          <input type="text" placeholder="Nom" formControlName="nom">
      </span>
      
      <span class="inputZone">
          <i class="fas fa-user icon-orange" slot="start"></i>
          <input type="text" placeholder="prenom" formControlName="prenom">
      </span>

      <span class="inputZone">
          <i class="fas fa-envelope icon-orange" slot="start"></i>
          <input type="email" placeholder="Email" formControlName="email">
      </span>

      <span class="inputZone">
          <i class="fas fa-phone icon-orange" slot="start"></i>
          <input type="text" placeholder="Télephone" formControlName="telephone">
      </span>

      <span class="inputZone">
          <i class="fa-solid fa-eye" id="hide" (click)="togglePasswordVisibility()"></i>
          <i class="fa-solid fa-eye-slash" id="show" (click)="togglePasswordVisibility()"></i>
          <input  type="password" placeholder="mot de pass" formControlName="motDePasse" id="passwordInput">
      </span>

      <span class="inputZone">
          <!-- <i class="fas fa-phone icon-orange" slot="start"></i> -->
          <input type="file" placeholder="image" (change)="onFileChange($event)">
      </span>


      <button type="submit">S'inscrire <i class="fas fa-arrow-right"></i></button>
    </form>
  </div>

</div>