<div class="body">
  <div class="entete">
    <div class="texte">
     <span>Notifications</span>
    </div>
  </div>
  <div class="cartes">
        <div class="tout">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magna
            m dolores cum debitis eaque! Earum esse voluptatem culpa illum ad
             iusto impedit molestiae itaque ullam, vel error provident accusamus odit totam.</h3>
        </div>
     
  </div>
  <div class="cartes">
        <div class="tout">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magna
            m dolores cum debitis eaque! Earum esse voluptatem culpa illum ad
             iusto impedit molestiae itaque ullam, vel error provident accusamus odit totam.</h3>
        </div>
     
  </div>
  <div class="cartes">
        <div class="tout">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magna
            m dolores cum debitis eaque! Earum esse voluptatem culpa illum ad
             iusto impedit molestiae itaque ullam, vel error provident accusamus odit totam.</h3>
        </div>
     
  </div>
  <div class="cartes">
        <div class="tout">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magna
            m dolores cum debitis eaque! Earum esse voluptatem culpa illum ad
             iusto impedit molestiae itaque ullam, vel error provident accusamus odit totam.</h3>
        </div>
     
  </div>
 


</div>
<app-navbar></app-navbar>