<div class="body">
  <div class="entete">
    <div class="texte">
     <span>Mes reservations</span>
    </div>
  </div>
  <div class="cartes" [routerLink] = "['/ticket']" *ngFor="let res of reservation" (click)="stockBookingIds(res.id,res.evenement.id); sendData()">
    <div class="left">
      <img src="./../../assets/icon/keb.png" alt="">
    </div>
    <div class="right">
      <div class="tout">
        <div class="righthead">
          <div class="date"><span>{{res.evenement.datedebut.split('T')[0].substring(0, 10)}}</span></div>
          <div class="lieu"><span>{{res.evenement.lieu}}</span></div>
        </div>
        <div class="left1">
          <div class="titre"><p>{{res.evenement.nom}}</p></div>
          <div class="desc"><h6>{{res.evenement.description}}</h6></div>
        </div>
      </div>
      <div class="bouton">
        <button><span>{{res.statut.statut}}</span></button>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
