<div class="body">
  <div class="entete">
    <div class="texte">
     <span>Mes reservations</span>
    </div>
  </div>
  <div class="cartes">
    <div class="left">
      <img src="./../../assets/icon/keb.png" alt="">
    </div>
    <div class="right">
        <div class="tout">
          <div class="righthead">
             <div class="date"><span>10-05-2024</span></div>
             <div class="lieu"><span>Stade 26 Mars</span></div>
          </div>
          <div class="left1">
            <div class="titre"><p>Dr Keb-Concert</p></div>
            <div class="desc"><h6>Dr Keb, de son vrai nom Amadou Kebe, est un artiste chanteur, rappeur et auteur-compositeur malien. </h6></div>
          </div>
        </div>
        <div class="bouton">
          <button><span>Payé</span></button>
        </div>
    </div> 
  </div>
  <div class="cartes">
    <div class="left">
      <img src="./../../assets/icon/sidiki.png" alt="">
    </div>
    <div class="right">
        <div class="tout">
          <div class="righthead">
             <div class="date"><span>10-05-2024</span></div>
             <div class="lieu"><span>Stade 26 Mars</span></div>
          </div>
          <div class="left1">
            <div class="titre"><p>Dr Keb-Concert</p></div>
            <div class="desc"><h6>Dr Keb, de son vrai nom Amadou Kebe, est un artiste chanteur, rappeur et auteur-compositeur malien. </h6></div>
          </div>
        </div>
        <div class="bouton">
          <button><span>Payé</span></button>
        </div>
    </div> 
  </div>
  <div class="cartes">
    <div class="left">
      <img src="./../../assets/icon/aya.png" alt="">
    </div>
    <div class="right">
        <div class="tout">
          <div class="righthead">
             <div class="date"><span>10-05-2024</span></div>
             <div class="lieu"><span>Stade 26 Mars</span></div>
          </div>
          <div class="left1">
            <div class="titre"><p>Dr Keb-Concert</p></div>
            <div class="desc"><h6>Dr Keb, de son vrai nom Amadou Kebe, est un artiste chanteur, rappeur et auteur-compositeur malien. </h6></div>
          </div>
        </div>
        <div class="bouton">
          <button><span>Payé</span></button>
        </div>
    </div> 
  </div>
 
  <div class="cartes">
    <div class="left">
      <img src="./../../assets/icon/fra.png" alt="">
    </div>
    <div class="right">
        <div class="tout">
          <div class="righthead">
             <div class="date"><span>10-05-2024</span></div>
             <div class="lieu"><span>Stade 26 Mars</span></div>
          </div>
          <div class="left1">
            <div class="titre"><p>Dr Keb-Concert</p></div>
            <div class="desc"><h6>Dr Keb, de son vrai nom Amadou Kebe, est un artiste chanteur, rappeur et auteur-compositeur malien. </h6></div>
          </div>
        </div>
        <div class="bouton">
          <button><span>Payé</span></button>
        </div>
    </div> 
  </div>
 
  <div class="cartes">
    <div class="left">
      <img src="./../../assets/icon/aya.png" alt="">
    </div>
    <div class="right">
        <div class="tout">
          <div class="righthead">
             <div class="date"><span>10-05-2024</span></div>
             <div class="lieu"><span>Stade 26 Mars</span></div>
          </div>
          <div class="left1">
            <div class="titre"><p>Dr Keb-Concert</p></div>
            <div class="desc"><h6>Dr Keb, de son vrai nom Amadou Kebe, est un artiste chanteur, rappeur et auteur-compositeur malien. </h6></div>
          </div>
        </div>
        <div class="bouton">
          <button><span>Payé</span></button>
        </div>
    </div> 
  </div>
 



</div>
<app-navbar></app-navbar>