.body{
    width: 100%;
    height: 100vh;
    margin: 0;
    outline: none;
    padding-bottom: 50px;
    background-color: var(--fondColor);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.body::-webkit-scrollbar{
    display: none;
}
.entete{
  align-items: center;
}

.texte{
    flex: 1;
    margin-top: 6%;
    margin-left: 2%;
    font-size: 1.5em;
    color:black;
    text-align: center;
    font-weight: bold;
}
.cartes{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    height: 17vh;
    width: 90%;
    margin-left: 4.5%;
    border-radius: 12px; 
    background-color: rgb(243, 243, 243);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
    overflow-y: scroll;
}
.cartes::-webkit-scrollbar{
    display: none;
}
.left{
    width:35%;
    height: 100%;
}
.right{
    width:65%;
    height: 100%;
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0px 0px 12px;
}
// .right{
//     display: flex;
//     flex-direction: column;
// }
.date span{
    font-size:0.7em;
    font-weight: bolder;
    color: black;
    width: 34%;
}
.lieu,.titre,.date{
    margin: 5%;   
}

.lieu span,.prix span{
    font-size:1em;
    font-weight: bolder;
    color: var(--orange);
    width: 34%;
    padding-right: 5%;
}
.date span{
    font-size:1em;
    font-weight: bolder;
    color: black;
    width: 34%;
    padding-right: 5%;
}
.tout{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.righthead{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:60%;
}
.left1{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3%;
}
.titre p{
    margin: 4px;
    padding: 0px;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}
.desc h6{
    margin: 4px;
    padding: 0px;
    font-size: 0.75em;
    color: black;
}
.bouton{
   margin: 1.1%;
   width: 98%;
   height: 5vh;
   display: flex;
   justify-content: flex-end; 
}
button{
    padding: 5px 35px;
    background-color: var(--orange);
    border-radius: 12px;
    color: var(--blanc);
  
}
i{
    margin-right: 5px;
}