<div class="body">
  <div class="entete">
    <div class="texte">
     <span>Politique de Confidentialité</span>
    </div>
  </div>
  <div class="cartes">
        <div class="tout">
          
            <h2>Introduction</h2>
           <h3> Nous prenons très au sérieux la protection de votre vie privée et de 
            vos données personnelles. Cette politique de confidentialité décrit les types
             d'informations que nous collectons à travers notre application, comment nous les utilisons, l
             es partageons, et les protégeons, ainsi que les droits dont vous disposez concernant vos données.</h3>
            <h3>
            Informations Collectées
            Lorsque vous utilisez notre application pour réserver des événements, qu'ils soient payants ou gratuits, nous collectons certaines informations personnelles vous concernant, notamment :
            
            Nom et Prénom
            Adresse e-mail
            Numéro de téléphone
            Détails de paiement (pour les événements payants)
            Informations de réservation (événements réservés, dates, etc.)
            Utilisation des Informations
            Les informations collectées sont utilisées dans les buts suivants :
            
            Traitement des réservations : Vos informations sont utilisées pour gérer vos réservations, vous envoyer des confirmations et des mises à jour concernant les événements auxquels vous vous êtes inscrit.
            Communication : Nous utilisons vos coordonnées pour vous envoyer des notifications importantes, des rappels et des informations pertinentes sur les événements.
            Amélioration de nos services : Nous analysons les données pour améliorer l'expérience utilisateur et le fonctionnement de notre application.
            Partage des Informations
            Vos informations personnelles ne seront jamais vendues ou échangées. Cependant, nous pouvons les partager avec des tiers dans les cas suivants :
            
            Partenaires événementiels : Pour garantir la bonne gestion des événements auxquels vous participez, nous partageons certaines informations avec les organisateurs des événements.
            Prestataires de services : Nous travaillons avec des prestataires de services tiers, tels que des plateformes de paiement, pour traiter vos transactions de manière sécurisée.
            Sécurité des Données
            Nous prenons des mesures de sécurité strictes pour protéger vos données personnelles contre toute perte, vol, accès non autorisé ou divulgation. Cela inclut l'utilisation de technologies de cryptage lors des transactions financières et la sécurisation de nos serveurs.
            
            Droits des Utilisateurs
            Conformément à la législation en vigueur, vous disposez des droits suivants concernant vos données personnelles :
            
            Accès : Vous avez le droit de demander une copie des données que nous détenons à votre sujet.
            Correction : Vous pouvez demander la correction de vos données personnelles si elles sont inexactes ou incomplètes.
            Suppression : Vous pouvez demander la suppression de vos données personnelles dans certaines circonstances.
            Objection : Vous avez le droit de vous opposer à l'utilisation de vos données pour certains traitements.
            Pour exercer ces droits, veuillez nous contacter à l'adresse fournie ci-dessous.
            
            Cookies et Technologies Similaires
            Nous utilisons des cookies et des technologies similaires pour améliorer votre expérience utilisateur, personnaliser le contenu et analyser l'utilisation de notre application. Vous pouvez gérer vos préférences en matière de cookies dans les paramètres de votre appareil.
            
            Modifications de la Politique de Confidentialité
            Nous pouvons mettre à jour cette politique de confidentialité de temps à autre pour refléter les changements dans nos pratiques ou pour des raisons légales. Toute modification sera affichée sur cette page, et nous vous informerons via l'application ou par e-mail en cas de changement significatif.
            
            Contact
            Pour toute question, préoccupation ou demande concernant cette politique de confidentialité, veuillez nous contacter à l'adresse suivante : [votre e-mail].
            
            Consentement
            En utilisant notre application, vous acceptez les termes de cette politique de confidentialité.
            
            </h3>
        </div>
     
  </div>
 


</div>
<app-navbar></app-navbar>