<body>
  <div class="main" *ngFor="let event of event">
    <div
       class="img-container"
       [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)), url(\'data:image/png;base64,' + event.image + '\')',}">
      <div class="topinfo">
        <div class="back" (click)="back()">
          <img src="../../../assets/img/arrow_left.svg" alt="arrow_left" >
        </div>
        <!-- <div class="sharefav">
          <div class="share"><img src="../../../assets/img/share.svg" alt="arrow_left"></div>
          <div class="fav"><img src="../../../assets/img/fav.svg" alt="arrow_left"></div>
        </div> -->
      </div>
      <div  class="btominfo">
        <div class="nameTitle">
          <p class="date">{{ event.date }}</p>
          <p class="title">{{ event.nom }}</p>
        </div>
        <div class="typeEvent">
          <h3 class="type">{{ event.category.category}}</h3>
        </div>
      </div>
    </div>
    <div class="details">
      <div class="eventDetail">
        <div class="typeEvent">
          <h3  class="type">{{ event.category.category }}</h3>
        </div>
        <div class="place">
          <div class="iconeplace icon0">
            <img src="../../../assets/img/place.svg" alt="iconeplace">
          </div>
          <p class="eventolace">{{ event.lieu }}</p>
        </div>
        <div class="datedetail">
          <div class="iconeplace icon0">
            <img src="../../../assets/img/date.svg" alt="iconeplace">
          </div>
          <p class="eventolace">{{ event.datedebut }}</p>
        </div>
        <div class="hour">
          <div class="iconehour icon0">
            <img src="../../../assets/img/hour.svg" alt="iconeplace">
          </div>
          <p class="eventolace">{{ event.heure }}</p>
        </div>
      </div>
      <div class="orgContainer">
        <div class="organisateur">
          <h3 class="Orga0">Organisateur</h3>
        </div>
        <div class="Orga1">
          <div class="orgNameImg">
            <div class="orgImg">
              <img src="../../../assets/img/profil1.jpg" alt="orgImg">
            </div>
            <p class="eventolace">Mr {{ event.utilisateur.nom }}</p>
          </div>
          <!-- <div class="like">
            <p class="evenlike">5.7k</p>
            <div class="iconelike icon0">
              <img src="../../../assets/img/like.svg" alt="iconeplace">
            </div>
          </div> -->
        </div>
      </div>
      <div class="description">
        <h3 class="titre">Description</h3>
        <p>{{ event.description }}</p>
      </div>
    </div>
    <div class="ticket_container">
      <div class="tckt0">
        <p class="tcket1">Ticket(s)</p>
        <select class="Category" (change)="stockercat($event.target)">
            <option *ngFor="let cat of categories " value="{{cat?.category}}" >{{ cat?.category }}</option>
        </select>
        <div class="itdec">
          <div class="iconeplus icon1" (click)="increment()">
            <img src="../../../assets/img/plus.svg" alt="iconeplus">
          </div>
          <div class="iconeh">
            <p class="nbr0" >{{ticketNumber}}</p>
            <div class="iconehe icon0h">
              <img src="../../../assets/img/icoh.svg" alt="iconeh">
            </div>
          </div>
          <div class="iconemoins icon1" (click)="decrement()">
            <img src="../../../assets/img/moins.svg" alt="iconemoins">
          </div>
        </div>
      </div>
      <div class="tckt01">
        <div class="mtant0">
          <p class="mtant">{{category?.billets[0]?.prix}}</p>
        </div>
        <div class="achat0">
          <p class="achat1" routerLink="/paiement" (click)="sendData()">Acheter Ticket(s)</p>
        </div>
      </div>
    </div>
  </div>
  </body>

