<ion-content class="ion-padding">
  <div class="auth-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <h2>Connexion</h2>
    <ion-item lines="none">
      <i class="fas fa-envelope icon-orange"></i>
      <ion-input [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <i class="fas fa-lock icon-orange"></i><ion-input type="password" label="Password" value="NeverGonnaGiveYouUp">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <div class="checkbox-container">
      <ion-checkbox [(ngModel)]="rememberMe"></ion-checkbox>
      <ion-label>Souviens-toi de moi</ion-label>
    </div>
    <a class="forgot-password" href="#">Mot de passe oublié?</a>
    <ion-button expand="block">
      Se connecter <i class="fas fa-arrow-right"></i>
    </ion-button>
    <p class="signup-link">Vous n'avez pas de compte ? <a routerLink="/register">Inscrivez-vous</a></p>
  </div>
</ion-content>
