<ion-content class="ion-padding">
  <div class="auth-container">
    <img src="assets/icon/logo.png" alt="Logo" class="logo">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <ion-item lines="none" class="form-item">
        <i class="fas fa-envelope icon-orange" slot="start"></i>
        <ion-input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Email"
          required
          email
          #emailField="ngModel">
      </ion-input>
        <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
          Veuillez entrer un email valide.
        </div>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <i class="fas fa-lock icon-orange" slot="start"></i>
        <ion-input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Mot de passe"
          required
          minlength="4"
          #passwordField="ngModel">
        </ion-input>
        <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
          Au moins 4caractères.
        </div>
      </ion-item>

      <div class="checkbox-container">
        <ion-toggle aria-label="Custom Orange toggle" color="warning" [checked]="true"></ion-toggle>
        <ion-label>Souviens-toi de moi</ion-label>
      </div>

      <ion-button type="submit" class="login" [disabled]="loginForm.invalid">
        Se connecter <i class="fas fa-arrow-right"></i>
      </ion-button>
    </form>
    <button routerLink="/accueil" class="visitor">
      Visiter <i class="fas fa-arrow-right"></i>
    </button>
    <p class="signup-link">Vous n'avez pas de compte ? <a routerLink="/register">Inscrivez-vous</a></p>
    <a class="forgot-password" href="#">Mot de passe oublié?</a>
  </div>
</ion-content>
