.auth-container {
    text-align: center;
    padding: 20px;
  
    .logo {
      width: 150px;
      margin-bottom: 20px;
    }
  
    h2 {
      margin-bottom: 20px;
      color: #f58220;
      font-size: 24px;
    }
  
    ion-item {
      --margin-bottom: 15px;
      --border-width: 2px;
      --border-radius: 12px;
      --inner-padding: 0;
      --padding-start: 0;
      --padding-end: 0;
      background-color: #f3f4f6;
      --background: #f3f4f6;
    }
  
    ion-input {
      --padding-start: 12px;
      --padding-end: 12px;
    }
  
    ion-button {
      margin-top: 20px;
      --background: #f58220;
      --border-radius: 12px;
      font-size: 16px;
      font-weight: bold;
    }
  
    .icon-orange {
      color: #f58220;
      font-size: 20px;
      margin: 0 8px;
    }
  
    .checkbox-container {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  
    .checkbox-container ion-checkbox {
      --size: 20px;
      margin-right: 10px;
    }
  
    .forgot-password {
      margin-top: 15px;
      color: #f58220;
      font-size: 14px;
    }
  
    .signup-link {
      margin-top: 15px;
      color: #f58220;
      font-size: 14px;
    }
  }
  