.body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: flex;
  align-items: center;
//   gap: 10px;
  justify-content: center;
  flex-direction: column;

  p{
    color: red;
    text-align: center;
    margin: 0px;
    font-size: 1rem;
  }
  
  img {
    width: 150px;
    height: 150px;
  }

  h1{
        color: black;
    }

    span{
        margin-top: 5px;
        color: black;
        a{
            color: #4dc591;
        }
    }
  // .formulaire{
  //     width: 100%;
  //     height: 60%;
  //     background-color: var(--Secondaire);

  form {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // background-color: var(--Secondaire);
    gap: 20px;

    

    .parent {
      position: relative;
      display: flex;
      align-items: center;
      width: 85%;
      // background-color: red;
      // gap: 10px;
      i:nth-child(1) {
        position: absolute;
        left: 10px;
        margin-top: 3px;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.757);
      }
      span {
        position: absolute;
        left: 10px;
        color: rgba(0, 0, 0, 0.829);
        // margin-top: 3px;
        // height: 100%;
        // display: flex;
        // align-items: center;
        // background-color: gray;
      }
      input:focus {
        outline: none;
        // border-color: red;
      }
      input {
        background-color: var(--Fond);
        color: black;
      }
      // input[type="tel"],input[type="password"],input[type="text"] {

      // }
      input[type="tel"],
      input[type="password"],
      input[type="text"] {
        width: 100%;
        padding: 13px 0px 13px 52px;
        border-radius: 10px;
        border: 0px;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        border: solid 1px var(--Icon);
        margin-top: 3px;
      }
      #show {
        position: absolute;
        right: 10px;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.757);
        cursor: pointer;
        margin-top: 3px;
      }
      #hide {
        position: absolute;
        // display: none;
        right: 10px;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.757);
        cursor: pointer;
        margin-top: 3px;
      }
    }

    input[type="submit"]:hover {
      background-color: white;
      color: #4dc591;
      
    }
    input[type="submit"] {
      // font-family: 'poppins';
      font-family: "Poppins", sans-serif;
      width: 80%;
      display: flex;
      margin: 0px auto;
      font-size: 1.3rem;
      padding: 12px 0px;
      border: 0px;
      border-radius: 5px;
      border:1px solid #4dc591 ;
      background-color: #4dc591;
      color: white;
      cursor: pointer;
    }
  }

  #passe{
    width: 50px;
    height: 50px;
    background-color: #4dc591;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
  }
}
// }
