<div class="body">
  <ion-toolbar>
    <!-- Entete -->
    <ion-row class="entete1">
      <ion-col size="2">
        <ion-img src="assets/icon/logo.png" class="logo"></ion-img>
      </ion-col>
      <ion-col size="7">
        <p class="welcome-msg">Bonjour, Bienvenue</p>
      </ion-col>
      <ion-col size="2">
        <div class="notif">
          <ion-icon name="notifications-outline" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <!-- Fin Entete -->
     <!-- Barre de recherche -->
     <ion-row class="search-bar">
      <ion-col size="12">
        <div class="search-container">
          <ion-icon name="search-outline" size="large"></ion-icon>
          <ion-input placeholder="Recherche des Evenements..."></ion-input>
        </div>
      </ion-col>
    </ion-row>
    
    <!-- Fin barre de recherche -->
     <!-- Filtre avec défilement horizontal -->
     <div class="filters-container">
      <ion-row class="filters">
        <ion-button class="concert" expand="block">
          <ion-icon name="mic" size="small" aria-hidden="true"></ion-icon>
          Concert
        </ion-button>
        <ion-button class="ceremonie" expand="block">
          <ion-icon name="medal-outline" aria-hidden="true"></ion-icon>
          Ceremonie
        </ion-button>
        <ion-button class="exposition" expand="block">
          <ion-icon name="easel-outline" aria-hidden="true"></ion-icon>
          Exposition
        </ion-button>
        <!-- Ajoutez plus de boutons ici si nécessaire -->
      </ion-row>
    </div>
    <!-- Fin Filtre -->
  </ion-toolbar>



  <div class="prochain-evenement">
    <div class="icon-text">
      <ion-icon name="radio-outline" class="custom-icon"></ion-icon>
      <span class="text">Prochain Evenement</span>
    </div>
    
    <ion-card class="event">
      <div class="prix"><p>2 000F</p></div>
      <ion-card-header>
        <ion-card-title>"Faiza"</ion-card-title>
        <ion-row>
           <ion-col >
             <ion-card-subtitle>Mon, 26th Feb</ion-card-subtitle>
            </ion-col>
            <ion-col>
               <ion-card-subtitle> Palais de la culture</ion-card-subtitle>
              </ion-col>
      </ion-row>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="liste-evenements">
    <div class="header-liste">
      <div class="lste">
        <ion-icon name="calendar-outline" class="cust-icon"></ion-icon>
      <span class="text">Liste des Evenements</span>
      </div>
      <a href="#" class="voir-tout">Voir tout</a>
    </div>
   
  </div>

 
   <div class="ne">
        <div class="card-event">
          <ion-img src="./../../assets/icon/faiza.jpeg" class="tof"></ion-img>
        </div>

    
        <div class="card-event">
          <ion-img src="./../../assets/icon/aya.png" class="tof"></ion-img>
        </div>
   
  
        <div class="card-event">
          <ion-img src="./../../assets/icon/fra.png" class="tof"></ion-img>
        </div>

        <div class="card-event">
          <ion-img src="./../../assets/icon/fra.png" class="tof"></ion-img>
        </div>

        <div class="card-event">
          <ion-img src="./../../assets/icon/fra.png" class="tof"></ion-img>
        </div>
        
      </div>

  
</div>


  <app-navbar></app-navbar>