*{
    box-sizing: border-box;
}
ion-content {
    --background: #ffe5d9;
  }
  
  .ticket-header {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .ticket-header::after, .ticket-header::before, .igmd::after, .igmd::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    border-radius: 50%;
    background-color: #ffe5d9;
    z-index: 1000;
  }
  .dash
  {
    position: absolute;
    z-index: 1000;
    background-color: #ffe5d9;
    top: 0px;
    left: 50%;
    width: 70%;
    border-bottom: 0.5px dashed #000;
    transform: translate(-50%, -50%);
  }

  .ticket-header::after, .igmd::after{
    left: 0px;
    transform: translate(-50%, 50%);
  }

  .ticket-header::before, .igmd::before {
    right: 0px;
    transform: translate(50%, 50%);
  }

  .ion-padding{
    background-color: #fff;
  }
  .ticket-info{
    padding: 0px;
    margin: 0px;
  }

    ion-grid {
        background-color: #ffffff; /* Exemple de valeur */
        border-radius: 20px;
        position: relative;
        padding: 0px;
    }

  .event-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .ticket-header h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--orange);
  }
  ion-label h5{
    color: var(--orange);
  }
  ion-item {
    --background: transparent;
  }
  
  .qr-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
  }
  
  .qr-image {
    width: 100px;
    height: 100px;
  }
  
  .ticket-info {
    font-size: 14px;
    text-align: left;
  }
  
  .qr-instruction {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .event-button {
    margin-top: 20px;
  }
  .qr{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .qrcode
  {
    background-color: #D3D3D3;
    border-radius: 10px;
    opacity: 75% !important;
  }
  .event-button
  {
    width: 40%;
    padding: 5px;
    color: #ff7700;
  }
  ion-text{
    color:var(--orange);
  }

  .ticket-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

 