<div class="body">
  <ion-card>
     <ion-button class="upload" (click)="selectImage()"><ion-icon name="cloud-upload-outline"></ion-icon></ion-button>
  
  <!-- Affichage de l'image sélectionnée -->
   @if (selectedImage != null) {<div *ngIf="selectedImage">
    <img [src]="selectedImage">
  </div>}
  @else {    <img class="img" src="../../../assets/icon/profile.svg" />
}
    <ion-card-header>
      <ion-card-title>MOGOBA FANGA</ion-card-title>
      <ion-card-subtitle>&#64;MOGOBA</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input label="Nom" labelPlacement="floating" placeholder="Entrer votre nom" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Nom d’utilisateur" labelPlacement="floating" placeholder="Entre votr nom d'utilisateur" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Numéro" labelPlacement="floating" placeholder="+223 77-77-77-77" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Email" labelPlacement="floating" placeholder="example@gmail.com" required></ion-input>
      </ion-item>
  
      <ion-button class="ion-button" expand="block" type="submit">Enregistrer</ion-button>
    </form>
  </ion-card>
</div>
<app-navbar></app-navbar>