<div class="body">
  <div class="bloc">

    <div class="head">
      <div class="zone1">
        <img src="../../../assets/icon/Ellipse 120.png" alt="">
        <h5>Souleymane <br>Maiga</h5>
      </div>
      <i class="fa-solid fa-bell"></i>
    </div>

    <div class="recherhe">
      <div>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="" id="" placeholder="Recherche des Evenements...">
      </div>
    </div>

    <div class="trier">
      <span (click)="selectCategory('Concert')">
        <i class="fa-solid fa-microphone"></i> <h6>Concert</h6>
      </span>
      <span (click)="selectCategory('Ceremonie')">
        <i class="fa-solid fa-medal"></i> <h6>Ceremonie</h6>
      </span>
      <span (click)="selectCategory('Exposition')">
        <i class="fa-solid fa-road-barrier"></i> <h6>Exposition</h6>
      </span>
    </div>

    <span class="title">
      <h2>Tous les evenements</h2>
    </span>

    <div class="eventliste">
      <div *ngFor="let event of filterEventsByCategory()" class="event">
        <div class="image"><img [src]="event.image" alt=""></div>
        <div class="suite">
          {{ event.title }}
        </div>
        <div class="lieu">
          <i class="fa-solid fa-location-dot"></i> {{ event.lieu }}
        </div>
        <div class="info">
          <span>{{ event.category }}</span>
          <span>{{ event.prix }}F</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
