<!-- <ion-content class="ion-padding">
  <div class="auth-container">
    <img src="assets/icon/logo.png" alt="Logo" class="logo">

  </div>
</ion-content> -->


<section>
  <main class="content-wrapper" >
   <img src="../../../assets/icon/succes.png" alt="Illustration of successful registration" class="illustration" />
    <img src="../../../assets/icon/succes.png" alt="Confirmation graphic" class="confirmation-image" />
    <h1 class="success-title">Ouais ! Inscription réussie</h1>
    <p class="success-message">Vous allez être redirigé vers l'écran d'accueil. Profitez des fonctionnalités !</p>
    <button class="connection-button" routerLink="/login">Connexion</button>
  </main>
</section>
