<!-- <ion-content class="ion-padding">
  <div class="auth-container">
    <img src="assets/icon/logo.png" alt="Logo" class="logo">
   
  </div>
</ion-content> -->


<section>
  <main class="content-wrapper" >
   <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/54045595fd43438b3eac484ce2b657fb251aaaebcb64ee93b9a74ee1a8858021?placeholderIfAbsent=true&apiKey=49533011e01c4a139d36a07422088382" alt="Illustration of successful registration" class="illustration" />
    <img src="../../../assets/icon/succes.svg" alt="Confirmation graphic" class="confirmation-image" />
    <h1 class="success-title">Ouais ! Inscription réussie</h1>
    <p class="success-message">Vous allez être redirigé vers l'écran d'accueil. Profitez des fonctionnalités !</p>
    <button class="connection-button" routerLink="/login">Connexion</button>
  </main>
</section>
