body{
    padding: 0;
    margin: 0;
    outline: none
    // background-color: red;
}
.trier{
  align-content: center;
  gap: 4px;
  overflow-x: scroll;
}
*{
  box-sizing: border-box;
}
*{
  -moz-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none
}
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "@ionic/angular/css/core.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");


/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/*@import '@ionic/angular/css/palettes/dark.system.css';*/
:root{
    --orange:#FF7700;
    --blanc:#FFFFFF;
    --blancsalle:#D9D9D9;
    --bleu: #18385F;

    --Primaire:#4DC591;
    --Secondaire:#FF7648;
    --Fond:#E8E7E7;
    --Icon: #88889D;
}
