<div class="body">
  <div class="back">
    <i class="fa-solid fa-chevron-left"></i>
    <h1>Détail du billet</h1>
  </div>
  <div class="container">
      <div class="billet">
        <h2>Diarra Transport</h2>

        <div class="BlocMere">
          <div class="InfoZone">
            <span>Départ</span>
            <span>Bamako</span>
          </div>
          <div class="InfoZone">
            <span>Arrivée</span>
            <span>Sikasso</span>
          </div>
          <div class="InfoZone">
            <span>Heure</span>
            <span>08:00</span>
          </div>
          <div class="InfoZone">
            <span>Date</span>
            <span>Lundi le ../../....</span>
          </div>

        </div>

        <div class="tiret">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="Montont">
          <span>Montont</span>
          <span>15.000 F</span>
        </div>

        <div class="codebar">

        </div>

      </div>

      <div class="reserverBtn">Réserver</div>
  </div>
  
</div>