<div class="body">

  <div class="head">
    <div class="logo">
      <img src="../../../assets/icon/logo.png" alt="">
    </div>
    <div *ngIf="user">
      <h4>{{ user.nom }}!</h4>
    </div>
    <i class="fa-solid fa-user"></i>
  </div>

  <button (click)="Deconnexion()">Deconnexion</button>

  <div class="recherhe">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" name="" id="" placeholder="Recherche des Evenements...">
    </div>
  </div>

  <div class="trier">
      <span (click)="selectedCategory = 'Concert'">
        <i class="fa-solid fa-microphone"></i> <h6>Concert</h6>
      </span>
    <span (click)="selectedCategory = 'Ceremonie'">
        <i class="fa-solid fa-medal"></i> <h6>Ceremonie</h6>
      </span>
    <span (click)="selectedCategory = 'Exposition'">
        <i class="fa-solid fa-road-barrier"></i> <h6>Exposition</h6>
      </span>
  </div>

  <div class="texte">
    <i class="fa-solid fa-synagogue"></i>
    <h5>Prochain événement</h5>
  </div>

  <div *ngFor="let ev of filterEventsByCategory(selectedCategory)" class="CurentEvent">
    <img src="../../../assets/icon/faiza.jpeg" alt="">
    <div class="contenue" routerLink="/detail">
      <span>{{ getPrixForEvent(ev.id) ? getPrixForEvent(ev.id) + 'F' : 'Prix non disponible' }}</span>
      <h4>{{ ev.nom }}</h4>
      <div>
        <h5>{{ ev.date }}</h5> <strong><i class="fa-solid fa-location-dot"></i>{{ ev.lieu }}</strong>
      </div>
    </div>
  </div>

  <div class="texte">
    <i class="fa-regular fa-calendar"></i>
    <h5>Liste des Evenements</h5>
  </div><br>

  <div class="EventScroll">
    <img src="../../../assets/icon/suntomoonbko_1723197167493.jpeg" alt="">
    <img src="../../../assets/icon/Rectangle 30.png" alt="">
    <img src="../../../assets/icon/Rectangle 4395.png" alt="">
    <img src="../../../assets/icon/suntomoonbko_1723197167493.jpeg" alt="">
    <img src="../../../assets/icon/Rectangle 30.png" alt="">
  </div>

  <div class="TitrelisteEvent">
    <h5>Tendance</h5> <h5 routerLink="/events">Voir Tout</h5>
  </div>

  <div *ngFor="let ev of filterEventsByCategory(selectedCategory)" class="listeEvent" routerLink="/detail">
    <img src="../../../assets/icon/Rectangle 30.png" alt="">
    <div class="infoEvent">
      <div class="topInfo">
        <p>{{ ev.category.category }}</p>
        <p style="color: #FF7700;">{{ getPrixForEvent(ev.id) ? getPrixForEvent(ev.id) + ' CFA' : 'Prix non disponible' }}</p>
      </div>
      <span style="color: #FF7700;"><i class="fa-solid fa-location-dot"></i>{{ ev.lieu }}</span>
      <span><i class="fa-regular fa-calendar"></i> {{ ev.lieu }} - {{ ev.datefin }}</span>
    </div>
  </div>

  <br>
</div>
<app-navbar></app-navbar>
