<div class="body">

  <div class="head">
    <div class="logo">
      <img src="../../../assets/icon/logo.png" alt="">
    </div>
    <h3>Bienvenue</h3>
    <i class="fa-solid fa-user"></i>
  </div>

  <div class="recherhe">
    <div>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="" id="" placeholder="Recherche des Evenements...">
    </div>
  </div>

  <div class="trier">
      <span>
        <i class="fa-solid fa-microphone"></i> <h6>Concert</h6>
      </span>
      <span>
        <i class="fa-solid fa-medal"></i> <h6>Ceremonie</h6>
      </span>
      <span>
        <i class="fa-solid fa-road-barrier"></i> <h6>Exposition</h6>
      </span>
  </div>

  <div class="texte">
    <i class="fa-solid fa-synagogue"></i>
    <h5>Prochain événement</h5>
  </div>

  <div class="CurentEvent">
    <img src="../../../assets/icon/accueil.jpeg" alt="">
    <div class="contenue">
        <span>2000F</span>
        <h4>"Faiza"</h4>
        <div>
          <h5>10/04/2024</h5> <strong><i class="fa-solid fa-location-dot"></i> Au Palais de la culture</strong>
        </div>
    </div>
  </div>

  <div class="texte">
    <i class="fa-regular fa-calendar"></i>
    <h5>Liste des Evenements</h5>
  </div><br>

<div class="EventScroll">
    <img src="../../../assets/icon/suntomoonbko_1723197167493.jpeg" alt="">
    <img src="../../../assets/icon/Rectangle 30.png" alt="">
    <img src="../../../assets/icon/Rectangle 4395.png" alt="">
    <img src="../../../assets/icon/suntomoonbko_1723197167493.jpeg" alt="">
    <img src="../../../assets/icon/Rectangle 30.png" alt="">
</div>


<div class="TitrelisteEvent">
  <h5>Tendance</h5> <h5 routerLink="/events">Voir Tout</h5>
</div>



<div class="listeEvent" routerLink="/ticket">
  <img src="../../../assets/icon/Rectangle 30.png" alt="">

  <div class="infoEvent">

    <div class="topInfo">
      <p>Concert party</p>
      <p style="color: #FF7700;">7000 CFA</p>
    </div>

    <span style="color: #FF7700;"><i class="fa-solid fa-location-dot"></i> Bamako</span>
    <span><i class="fa-regular fa-calendar"></i> Bamako - 10/04/2024</span>

  </div>
</div>
<!-- <br> -->

<div class="listeEvent" routerLink="/ticket">
  <img src="../../../assets/icon/Rectangle 30.png" alt="">

  <div class="infoEvent">

    <div class="topInfo">
      <p>Concert party</p>
      <p style="color: #FF7700;">7000 CFA</p>
    </div>

    <span style="color: #FF7700;"><i class="fa-solid fa-location-dot"></i> Bamako</span>
    <span><i class="fa-regular fa-calendar"></i> Bamako - 10/04/2024</span>

  </div>
</div>


<br>
</div>
<app-navbar></app-navbar>




