<div class="body">
  <div class="title">
    <!-- <div class="titleContent"> -->
      <i class="fa-solid fa-arrow-left"></i> <H3>Ticket details</H3>
    <!-- </div> -->
  </div>
    <div class="ticketBloc">
        <div class="ticket">

          <div class="ticketHead">
            <img src="../../../assets/icon/Rectangle 30.png" alt=""> <H4>Concert de Dr Keb</H4>
          </div>


          <div class="dach">
            <span class="boule1"></span>
               <hr>
            <span class="boule2"></span>
          </div>



          <div class="InfoTicket">

              <!-- <span>
                  <strong>Place</strong> <br>
                  175
              </span> -->

              <div class="infoContent">

                <div class="zone">
                  <span>
                      <strong>TicketId</strong> <br>
                      1234
                  </span>
                  <span>
                      <strong>Prix</strong><br>
                      2000 FCFA
                  </span>
                </div>

                <div class="zone">
                  <span>
                      <strong>Prénom</strong> <br>
                      Souleymane
                  </span>
                  <span>
                      <strong>Nom</strong><br>
                      Maiga
                  </span>
                </div>

                <div class="zone">
                  <span>
                      <strong>Date</strong> <br>
                      10/09/2024
                  </span>
                  <span>
                      <strong>Heure</strong><br>
                      17:00
                  </span>
                </div>

              </div> 
          </div>


          <div class="dach">
            <span class="boule1"></span>
            <hr>
            <span class="boule2"></span>
          </div>


          <br>
          <div class="qrZone">
              <img src="../../../assets/icon/Qr.png" alt="">
          </div>
          <br>
 
        </div>
    </div>


    <br>
    <div class="btnEvent">
        <span routerLink="/events">Events</span>
    </div>
</div>
