<ion-content class="ion-padding">
  <div class="auth-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <h2>Réinitialiser le mot de passe</h2>
    <p>Veuillez saisir votre adresse e-mail pour demander une réinitialisation de mot de passe</p>
    <ion-item>
      <i class="fas fa-envelope icon-orange" slot="start" ></i>
      <ion-input [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-button  (click)="resetPassword()">Envoyer</ion-button>
  </div>
</ion-content>
