.auth-container {
    text-align: center;
  
    .logo {
      width: 220px;
      margin-bottom: 20px;
      margin-top: 100px;
    }
  
    h2 {
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 20px;
    }
  
    ion-item {
      width: auto;
      margin-bottom: 15px;
      --border: 2px;
      --background: #ffffff; 
      --border-radius: 10px;
      --border-width: 1px; 
      --border-color: #ddd;
      --padding-start: 16px;
      margin-bottom: 15px;
      width: 100%; 
      height: 50px; 
    }
  
    ion-button {
      margin-top: 20px;
      --background: #1b0452;
    }
    .icon-orange {
      color: rgb(248, 132, 0); 
      font-size: 20px; 
    }
  }
  